<!DOCTYPE html>
<html>
	<head>
	<meta charset="utf-8" />
	<title> Kindle 读书笔记 </title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <!--导航栏-->
    <nav class="flex justify-between shadow-sm rounded-xl py-4 bg-neutral-100 p-6">
        <div class="lg:inline-block">
            <a href="/" class="text-lg">Dongliu</a>
        </div>
        <div class="lg:justify-end">
            <a href="/" class=" mt-4 lg:inline-block lg:mt-0 text-black mr-4">
                博客
            </a>
            <a href="/micro_blog" class=" mt-4 lg:inline-block lg:mt-0 text-black mr-4">
                微博
            </a>
            <a href="/about" class=" mt-4 lg:inline-block lg:mt-0 text-black">
                关于
            </a>
        </div>
    </nav>

    <div class="mt-10">
        <h1 class="text-center text-2xl">
            {{ title }}
        </h1>
        <div>
            {% for note in notes %}
            <div class="mt-16 relative w-full px-10 py-12 bg-white shadow-xl shadow-slate-700/10 ring-1 ring-gray-900/5 md:max-w-3xl md:mx-auto lg:max-w-6xl lg:pt-16 lg:pb-28">
                    <article class="prose prose-slate max-w-none lg:prose-lg prose-img:mx-auto prose-img:rounded-xl prose-img:shadow-lg">
                        <p>{{ note.content }}</p>
                      </article>
                    <p class="lg:absolute left-10 mt-10 text-gray-600 text-xs">{{ note.date }}</p>
                    <p class="lg:absolute right-10 mt-10 text-gray-600 text-xs">{{ note.location }}</p>
            </div>
            {% endfor %}
        </div>
        </div>
    </div>

</body>
</html>
