{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
    <div class="mt-10">
        <h1 class="text-center text-2xl">
            {{ title }}
        </h1>
        <div>
            {% for note in notes %}
            <div class="mt-16 relative w-full px-10 py-12 bg-white shadow-xl shadow-slate-700/10 ring-1 ring-gray-900/5 md:max-w-3xl md:mx-auto lg:max-w-6xl lg:pt-16 lg:pb-28">
                    <article class="prose prose-slate max-w-none lg:prose-lg prose-img:mx-auto prose-img:rounded-xl prose-img:shadow-lg">
                        <p>{{ note.content }}</p>
                      </article>
                    <p class="lg:absolute left-10 mt-10 text-gray-600 text-xs">{{ note.date }}</p>
                    <p class="lg:absolute right-10 mt-10 text-gray-600 text-xs">{{ note.location }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}