<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Dongliu's blog</title>
      {% load static %}
      <link href="{% static 'css/index.css' %}" rel="stylesheet">
      <script src="{% static 'js/flowbite.js' %}"></script>
  </head>
  <body>
    <!--导航栏-->
    <nav class="flex justify-between shadow-sm rounded-xl py-4 bg-neutral-100 p-6">
        <div class="lg:inline-block">
            <a href="/" class="text-lg">Dongliu</a>
        </div>
        <div class="lg:justify-end">
            <a href="/" class=" mt-4 lg:inline-block lg:mt-0 text-black mr-4">
                博客
            </a>
            <a href="/micro_blog" class=" mt-4 lg:inline-block lg:mt-0 text-black mr-4">
                微博
            </a>
            <a href="/about" class=" mt-4 lg:inline-block lg:mt-0 text-black">
                关于
            </a>
        </div>
    </nav>
    <div class="mt-10" id="app">
        <div class="w-1/6 float-right mr-12 mt-6 hidden lg:block">
            <!--分类-->
            <div class=" shadow-lg rounded-lg bg-white">
                <h1 class="text-center px-6 py-2 bg-blue-400 text-white rounded-t-lg">categories</h1>
                {% for category in categories %}
                    <div class="border border-gray-200  text-gray-900">
                      <a href="{{ category.url }}" class="block px-6 py-2 border-b border-gray-200 w-full hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-0 focus:bg-gray-200 focus:text-gray-600 transition duration-500 cursor-pointer">{{ category.name }}</a>
                    </div>
                {% endfor %}
            </div>
            <!--标签--> 
            <div class="shadow-lg rounded-lg bg-white mt-10">
                <h1 class="text-center px-6 py-2 bg-blue-400 text-white rounded-t-lg">tags</h1>
                <div class="flex flex-wrap gap-2 mt-4 ml-2 mr-2">
                    {% for tag in tags %}
                        <div>
                            <a  href="{{ tag.url }}" class="inline-block text-center w-12 py-1.5 bg-sky-400 text-white font-medium text-xs leading-tight rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">{{ tag.name }}</a>
                        </div>
                    {% endfor %}
                </div>
                <div>&nbsp;</div>
            </div>
        </div>
        <div>
            {% for blog in blogs %}
            <div class="mt-6 block p-6 rounded-lg shadow-lg bg-white lg:ml-24 lg:w-2/3">
                <a class="text-gray-900 text-xl leading-tight font-medium mb-3" href="{{ blog.url }}">{{ blog.title }}</a>
                <p class="text-gray-700 text-base font-light mt-1">
                    {{ blog.abstract }}
                </p>
                <p class="text-gray-600 text-xs mt-4">{{ blog.date }}</p>
            </div>
            {% endfor %}

        </div>
        <div class="mt-10 relative flex justify-center">
          <nav aria-label="Page navigation example">
            <ul class="flex list-style-none">
              <li class="page-item"><a
                      href="?page={{ page.previous }}"
                      class="disable page-link relative block py-1.5 px-3 border-0 bg-transparent outline-none transition-all duration-300 rounded-full text-gray-800 hover:text-gray-800 hover:bg-gray-200 focus:shadow-none"
              >Previous</a></li>
              <li class="page-item"><a
                      href="?page={{ page.next }}"
                      class="page-link relative block py-1.5 px-3 border-0 bg-transparent outline-none transition-all duration-300 rounded-full text-gray-800 hover:text-gray-800 hover:bg-gray-200 focus:shadow-none"
              >Next</a></li>
            </ul>
          </nav>
        </div>
    </div>

    <!--底部声名
    <footer class="absolute bottom-0 w-full text-center mt-10">
        © Powered by <a href="https://github.com/HuangDongliu-DL" class="hover:text-blue-600">东流</a>
    </footer>-->
  </body>
</html>
