<!DOCTYPE html>
<html lang="zh">
	<head>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title> {% block title %}{% endblock %} </title>
    <script src="/static/tailwindcssWithTypography.js"></script>
</head>
<body>
    <!--导航栏-->
    <nav class="flex justify-between shadow-sm rounded-xl py-2 bg-neutral-100 p-6">
        <div class="lg:inline-block mt-1">
            <a href="/" class="text-lg">Dongliu</a>
        </div>
        {% block search %}{% endblock %}
        <div class="lg:justify-end mt-1">
            <a href="/" class="lg:inline-block lg:mt-0 text-black mr-4">
                博客
            </a>
            <a href="/micro_blog" class="lg:inline-block lg:mt-0 text-black mr-4">
                微博
            </a>
            <a href="/about" class="lg:inline-block lg:mt-0 text-black">
                关于
            </a>
        </div>
    </nav>
    {% block body %}{% endblock %}
    {% block pages %}{% endblock %}
</body>
</html>