{% extends "extent.html" %}
{% block title %}Dongliu's micro blog{% endblock %}
{% block body %}
    <div class="mt-6" id="app">
        {% for microBlog in microBlogs %}
        <div class="mt-6">
            <div class="mt-16 relative w-full px-10 py-12 lg:bg-white lg:rounded-lg lg:shadow-lg ring-1 ring-gray-900/5 md:max-w-3xl md:mx-auto lg:max-w-6xl lg:pt-16 lg:pb-28">
                    <article class="prose prose-slate max-w-none lg:prose-lg prose-img:mx-auto prose-img:rounded-xl prose-img:shadow-lg">
                        {{ microBlog.text|safe }}
                      </article>
                    <p class="lg:absolute left-10 mt-10 text-gray-600 text-xs">{{ microBlog.date }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}