<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Dongliu's micro blog</title>
        {% load static %}
      <link href="{% static 'css/micro_blog.css' %}" rel="stylesheet">
    </head>
  <body>
    <!--导航栏-->
    <nav class="flex justify-between shadow-sm rounded-xl py-4 bg-neutral-100 p-6">
        <div class="lg:inline-block">
            <a href="/" class="text-lg">Dongliu</a>
        </div>
        <div class="lg:justify-end">
            <a href="/" class=" mt-4 lg:inline-block lg:mt-0 text-black mr-4">
                博客
            </a>
            <a href="/micro_blog" class=" mt-4 lg:inline-block lg:mt-0 text-black mr-4">
                微博
            </a>
            <a href="/about" class=" mt-4 lg:inline-block lg:mt-0 text-black">
                关于
            </a>
        </div>
    </nav>
    <div class="mt-6" id="app">
        {% for microBlog in microBlogs %}
        <div class="mt-6">
            <div class="mt-16 relative w-full px-10 py-12 bg-white shadow-xl shadow-slate-700/10 ring-1 ring-gray-900/5 md:max-w-3xl md:mx-auto lg:max-w-6xl lg:pt-16 lg:pb-28">
                    <article class="prose prose-slate max-w-none lg:prose-lg prose-img:mx-auto">
                        {{ microBlog.text|safe }}
                      </article>
                    <p class="left-10 mt-10 text-gray-600 text-xs">{{ microBlog.date }}</p>
            </div>
        </div>
        {% endfor %}

        <div class="mt-10 relative flex justify-center">
          <nav aria-label="Page navigation example">
            <ul class="flex list-style-none">
              <li class="page-item"><a
                      href="?page={{ page.previous }}"
                      class="disable page-link relative block py-1.5 px-3 border-0 bg-transparent outline-none transition-all duration-300 rounded-full text-gray-800 hover:text-gray-800 hover:bg-gray-200 focus:shadow-none"
              >Previous</a></li>
              <li class="page-item"><a
                      href="?page={{ page.next }}"
                      class="page-link relative block py-1.5 px-3 border-0 bg-transparent outline-none transition-all duration-300 rounded-full text-gray-800 hover:text-gray-800 hover:bg-gray-200 focus:shadow-none"
              >Next</a></li>
            </ul>
          </nav>
        </div>
    </div>  
    <!--底部声名
    <footer class="absolute bottom-0 w-full text-center mt-10">
        © Powered by <a href="https://github.com/HuangDongliu-DL" class="hover:text-blue-600">东流</a>
    </footer>-->
  </body>
</html>
