{% extends "base.html" %}
{% block title %}Dongliu's micro blog{% endblock %}
{% block body %}
    <div class="mt-6" id="app">
        {% for microBlog in microBlogs %}
        <div class="mt-6">
            <div class="mt-16 relative w-full px-10 py-12 bg-white shadow-xl shadow-slate-700/10 ring-1 ring-gray-900/5 md:max-w-3xl md:mx-auto lg:max-w-6xl lg:pt-16 lg:pb-28">
                    <article class="prose prose-slate max-w-none lg:prose-lg prose-img:mx-auto prose-img:rounded-xl prose-img:shadow-lg">
                        {{ microBlog.text|safe }}
                      </article>
                    <p class="lg:absolute left-10 mt-10 text-gray-600 text-xs">{{ microBlog.date }}</p>
            </div>
        </div>
        {% endfor %}

        <div class="mt-10 relative flex justify-center">
          <nav aria-label="Page navigation example">
            <ul class="flex list-style-none">
              <li class="page-item"><a
                      href="?page={{ page.previous }}"
                      class="disable page-link relative block py-1.5 px-3 border-0 bg-transparent outline-none transition-all duration-300 rounded-full text-gray-800 hover:text-gray-800 hover:bg-gray-200 focus:shadow-none"
              >Previous</a></li>
              <li class="page-item"><a
                      href="?page={{ page.next }}"
                      class="page-link relative block py-1.5 px-3 border-0 bg-transparent outline-none transition-all duration-300 rounded-full text-gray-800 hover:text-gray-800 hover:bg-gray-200 focus:shadow-none"
              >Next</a></li>
            </ul>
          </nav>
        </div>
    </div>
{% endblock %}